*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-bg);
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Colors */
  --color-bg: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --accent-color: hsl(115, 100%, 51%);

  /* Typography */
  --main-font: "IBM Plex Mono", monospace;
  --secondary-font: "Manrope", sans-serif;

  /* Font weight */
  --font-regular: 400;
  --font-bold: 700;

  /* Layout */
  --container-width: 115.5rem;

  /* Radius */
  --radius-sm: 1rem;
  --radius-md: 3rem;
}

.body_fixed {
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  padding: 0 15px;
  margin: 0 auto;
}

.intro {
  background-image: url(../assets/Hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 76rem;
  margin-bottom: 15rem;
}

.header {
  padding-top: 2.7rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 5rem;
  font-size: 1.8rem;
  letter-spacing: -0.03em;
  line-height: 2.3rem;
}

.nav__item:hover {
  color: var(--accent-color);
  transition: color 0.3s ease;
}

.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px;
  padding: 2px;
  cursor: pointer;
  border: none;
  background: transparent;
  position: relative;
  z-index: 100;
}

.burger-btn__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color, #000);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.burger-btn--active .burger-btn__line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.burger-btn--active .burger-btn__line:nth-child(2) {
  opacity: 0;
}

.burger-btn--active .burger-btn__line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.logo-wrapper {
  width: 13rem;
  height: 3.9rem;
  background-color: var(--color-bg);
  border-radius: 100px;
  text-align: center;
  padding-right: 4px;
}

.logo {
  font-size: 4.2rem;
  font-weight: var(--font-bold);
  color: var(--accent-color);
  letter-spacing: -0.11em;
  line-height: 3.8rem;
}

.hero {
  min-height: 76rem;
  display: flex;
  align-items: flex-end;
}

.hero .container {
  width: 100%;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 9.4rem;
}

.hero__note {
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 2.6rem;
  max-width: 43rem;
}

.hero__title {
  font-size: clamp(3.6rem, calc(2.6rem + 3.8vw), 8rem);
  letter-spacing: -0.03em;
  line-height: 0.92;
  color: var(--accent-color);
  max-width: 960px;
}

@media (max-width: 960px) {
  .nav {
    display: none;
  }
  
  .burger-btn {
    display: flex;
  }
}

.main-section {
  background-color: var(--color-bg);
}

.fresh-project {
  margin-bottom: 15rem;
}

.section-title {
  font-size: 5.5rem;
  letter-spacing: -0.03em;
  line-height: 7.2rem;
}

.fresh-project__title {
  margin-bottom: 4rem;
}

.fresh-project__box {
  position: relative;
}

.fresh-project__box:last-of-type {
  margin-bottom: 16rem;
}

.fresh-project__box-img,
.services__box-img {
  width: 100%;
  height: auto;
  display: block;
}

.fresh-project__box-title {
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  line-height: 4.6rem;
  position: absolute;
  left: 5rem;
  bottom: 9.5rem;
}

.fresh-project__box-descr {
  font-size: 3rem;
  letter-spacing: -0.03em;
  line-height: 3.9rem;
  position: absolute;
  left: 5rem;
  bottom: 5rem;
}

.fresh-project__link {
  background-color: var(--accent-color);
  color: var(--color-bg);
  font-size: 3rem;
  letter-spacing: -0.03em;
  line-height: 3.9rem;
  padding: 5.6rem 8.5rem;
  border-radius: var(--radius-sm);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.fresh-project__link:hover {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.skills {
  margin-bottom: 15rem;
}

.skills__title {
  margin-bottom: 4.8rem;
}

.skills__icon {
  margin-bottom: 1.6rem;
}

.skills__item-title {
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  line-height: 4.6rem;
  color: var(--accent-color);
  margin-bottom: 1.5rem;
  max-width: 72.3rem;
}

.skills__text {
  font-size: 2.2rem;
  letter-spacing: -0.03em;
  line-height: 2.9rem;
  margin-bottom: 6rem;
  max-width: 77.8rem;
}

.skills__item:last-child .skills__text {
  margin-bottom: 0;
}

.services {
  margin-bottom: 15rem;
}

.services__title {
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  line-height: 4.6rem;
  max-width: 40rem;
  margin-bottom: 7.4rem;
}

.services__box-wrapper {
  background-color: hsl(120, 6%, 10%);
  border-radius: var(--radius-md);
  width: 100%;
  padding: 4rem;
}

.services__box-title {
  font-size: 5.5rem;
  letter-spacing: -0.03em;
  line-height: 7.2rem;
  color: var(--accent-color);
}

.services__box-text {
  font-size: 2.2rem;
  letter-spacing: -0.03em;
  line-height: 2.9rem;
}

.contacts {
  background-color: hsl(120, 6%, 10%);
  border-radius: 3rem;
  margin-bottom: 15rem;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.contacts__right {
  flex: 0 0 50%;
  overflow: hidden;
  min-height: 40rem;
}

.contacts__right-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.contacts__left-title {
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  line-height: 6rem;
}

.contacts__left-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts__link {
  font-size: 6rem;
  letter-spacing: -0.03em;
  line-height: 6rem;
  transition: color 0.3s ease;
}

.contacts__link:hover {
  color: var(--accent-color);
}

.footer {
  background-color: var(--white-color);
  height: 22.3rem;
  color: var(--color-bg);
  border-radius: 3rem 3rem 0 0;
  padding-top: 7.6rem;
}

.footer__text {
  font-size: 2.2rem;
  letter-spacing: -0.03em;
  line-height: 3rem;
  margin-bottom: 6.6rem;
}

.footer__copy {
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 2.7rem;
  opacity: 0.5;
}

.burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger__open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 95%;
  height: 100%;
  background-color: var(--color-bg);
  padding: 6.4rem 2.8rem;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.burger__open .burger__content {
  transform: translateX(0);
}

.burger__logo-wrapper {
  border: 1px solid var(--accent-color);
  margin-bottom: 3.7rem;
}

.burger__nav {
  margin-bottom: 9.1rem;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  font-size: 2.5rem;
  line-height: 3.3rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.burger__contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.burger__contacts-title{
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -0.03em;
  opacity: 0.5;
}

.burger__contacts-link {
  font-size: 2rem;
  line-height: 4.56rem;
  letter-spacing: -0.03em;
}